{% extends 'base-back.html.twig' %}

{% block content %}
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Add Product</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Update Fournisseur</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                            
                                           
                                           {{ form_start(fournisseurForm,{'attr':{'novalidate' : 'novalidate'}}) }}

                                                        <div class="form-group">

                                   <label class="form-label">{{ form_label(fournisseurForm.nom)}}</label>
                                        {{ form_widget(fournisseurForm.nom, {'attr': {'class': 'form-control'}})}}
                                      {{form_errors(fournisseurForm.nom)}}
                                                            {# <label for="productname">Product Name</label>
                                                            <input id="productname" name="productname" type="text" class="form-control">
                                                        </div> #}
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                
                                                                <div class="form-group">
                                                                    
                                                                    
                                                                     <label class="form-label">{{ form_label(fournisseurForm.tel)}}</label>
                                        {{ form_widget(fournisseurForm.tel, {'attr': {'class': 'form-control'}})}}
                                      {{form_errors(fournisseurForm.tel)}}
                                                                    
                                                                    
                                                                    {# <label for="manufacturername">Telephone</label>
                                                                    <input id="manufacturername" name="manufacturername" type="text" class="form-control"> #}
                                                                </div>
                                                            </div>
                                                           
                                                          
                                                        </div>
                                                       

                                                        <div class="form-group">
                                                          
                                                          
                                                             <label class="form-label">{{ form_label(fournisseurForm.descfor)}}</label>
                                        {{ form_widget(fournisseurForm.descfor, {'attr': {'class': 'form-control'}})}}
                                      {{form_errors(fournisseurForm.descfor)}}
                                                                    
                                                          
                                                          
                                                          
                                                            {# <label for="productdesc">Fournisseur Description</label>
                                                            <textarea class="form-control" id="productdesc" rows="5"></textarea> #}
                                                        </div>
                    
                                                </div>
                                                {# <div class="tab-pane" id="product-img">
                                                    <h4 class="card-title">Product Images</h4>
                                                    <p class="card-title-desc">Upload product image</p>
                                                    <form action="/" method="post" class="dropzone">
                                                        <div class="fallback">
                                                            <input name="file" type="file" multiple />
                                                        </div>
                        
                                                        <div class="dz-message needsclick">
                                                            <div class="mb-3">
                                                                <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                                                            </div>
                                                            
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </form>
                                                </div> #}
                                                <div class="tab-pane" id="metadata">
                                                   
                                                    <div class="text-center mt-4">
                                                        {# <button type="submit" class="btn btn-primary mr-2 waves-effect waves-light">Save </button>
                                                        <button type="submit" class="btn btn-light waves-effect">Cancel</button> #}


                                             {{ form_widget(fournisseurForm.Update, {'attr': {'class': 'btn btn-primary mr-2 waves-effect waves-light'}})}}

                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                                <li class="previous"><a href="#">Previous</a></li>
                                                <li class="next"><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                                              {{form_end(fournisseurForm)}}

                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Nazox.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>

    <script>
        $('#tech-companies-1').DataTable();
    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
