{% extends 'base-front.html.twig' %}

{% block activeProfil %}
    class=active
{% endblock %}


{% block content %}

    <div style="height: 20rem;"></div>
    <section class=innerpage_all_wrap>
        <div class=container>
            <div class=row><h2 class=heading>Vos <span>Informations</span></h2>

                <p class=headParagraph></p>
                <div  class="feedbackContact-open formcontact clearfix">
                    <div class=form-group>
                        <h4 style="display: inline;color: black">Nom d'utilisateur: </h4>
                        <h4 style="display: inline">{{ profil.username }}</h4>
                    </div>
                    <div class=form-group>
                        <h4 style="display: inline;color: black">Nom: </h4>
                        <h4 style="display: inline">{{ profil.nom }}</h4>
                    </div>
                    <div class=form-group>
                        <h4 style="display: inline;color: black">Prenom: </h4>
                        <h4 style="display: inline">{{ profil.prenom }}</h4>
                    </div>

                    <div class=form-group>
                        <h4 style="display: inline;color: black">Email :</h4>
                        <h4 style="display: inline">{{ profil.email }}</h4>
                    </div>

                    <a class="btn" style="margin-top: 50px" href="{{ path('ModifierProfil',{'id':profil.id}) }}">Modifier mes Informations</a>

                </div>

            </div>


        </div>
        </div>
    </section>


{% endblock %}
