{% extends 'base-front2.html.twig' %}

{% block content %}

	<section class="hero-wrap hero-wrap-2" style="background-image: url('front-office-v2/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate text-center mb-5">
					<h1 class="mb-2 bread">User</h1>
					<p class="breadcrumbs">
						<span class="mr-2">
							<a href="index.html">User
								<i class="fa fa-chevron-right"></i>
							</a>
						</span>
						<span>Mot de passe oublié
							<i class="fa fa-chevron-right"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
	</section>
    <section class=innerpage  style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class=container>
            <div class=row><h2 class=heading>RÉINITIALISER VOTRE <span>MOT DE PASSE</span></h2>

                <p class=headParagraph></p>

                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(requestForm,{'attr': {'novalidate': 'novalidate'}} ) }}
                    {{ form_label(requestForm.email) }}
                    <input style="height: 60px" {{ form_widget(requestForm.email) }}

                    <h5 style="margin: 15px 0px">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</h5>

                    <button class="btn btn-primary">Envoyer</button>

                {{ form_end(requestForm) }}


            </div>


        </div>
        </div>
    </section>


{% endblock %}
