<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
			<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
			
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}

		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
    <script src="{{ asset ('back-office/assets/libs/jquery/jquery.min.js')}}"></script>
			
	</head>
	<body>
	
		{% block body %}{% endblock %}
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js">
		{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	</body>
</html>
